/*tags gerais*/

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    /*background: linear-gradient(to right, #4CC3FF, #7FFFFB, #4CC3FF);  Standard syntax */
}

a{
    text-decoration: none;
}

section{
    /*background-color: #ffffff;*/
    color: #FFFFFF;
    max-width: 100%;
    margin: auto;
    padding: 30px;
}

/* HEADER */

header{
    background-color: #40E5BB;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;   
    margin: 0;
}

.logo-header{
    width: 250px;
    margin-right: 30px;
}

h1, h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

h1{
    line-height: 50px;
}

h1 span{
    font-size: 80px;
    font-family: 'Caveat Brush', cursive;
}



/* SEÇÃO CELULAR */

.celular img{
    width: 250px;
}

.secao-input-email{ 
    background-color: #ffd93f;
    display: flex;
    justify-content: center;
    padding: auto;
    align-self: center;
    align-items: center;
    color: #000000;
}

.gatinho-azul{
    margin-left: 60px;
}

.email-conteudo{
    text-align: left;
    margin-left: 25px;
}

.email-conteudo > p{
    font-size: 20px;
}

.form{
    text-align: left;
    display: inline-block;
}

.form input[type="email"]{
    width: 80%;
    height: 30px;
}

.form input[type='submit']{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    background-color: #E8781F;
    border: 0;
    padding: 10px 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: all 500ms ease;
}

input[type='submit']:hover { 
    background-color: darkred;
    transition: all 500ms ease;
}

/* SEÇÃO FEATURES */

.features{
    background-color: #556ca4;
    text-align: center;
}

.logofeatures{
    width: 200px;    
}

.caput-features h3 span{
    font-size: 50px;
    font-family: 'Caveat Brush', cursive;
}

.caput-features h3{
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.caput-features p{
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.feature-item{
    width: 900px;
}

.feature-item ul{   
    display: flex;
    justify-content: space-around;
    list-style: none;
    /*margin: 30px 30px 0 30px;*/
}

.feature-item ul li{
    margin: 0 30px 0 30px;
    min-width: 200px;
}

.feature-item ul li p{
    font-size: 15px;
}

.titulo{
    font-size: 20px;
}

/* SEÇÃO DOWNLOAD */

.secao-baixar{
    background-color: #ff868e;
    text-align: center;
    margin: 0;
}

.secao-baixar h3{
    font-size: 50px;
    font-family: 'Caveat Brush', cursive;
    margin-top: 0;
    margin-bottom: 20px;
}

.secao-baixar-botoes{
    display: flex;
    justify-content: center;
    }

.botao-apple{
    display: block;
    width: 200px;
    margin-right: 30px;
}

.botao-google{
    display: block;
    width: 200px;
}


/* FOOTER */

.secao-footer{
    background-color: #40E5BB;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo-footer img{
    width: 100px;
    padding-left: 30px;
}

.texto-footer{
    text-align: right;
    padding: 10px 30px 0 0;
}



/*TESTE PARA A CARALHA DO GIT FUNCIONAR - NÃO FUNCIONOU*/